{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<style >

body { 
  font-family: Arial;
  padding: 20px;
  background: #f1f1f1;
}

.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}


.leftcolumn {
  float: left;
  width: 100%;
}

.card {
  background-color: white;
  padding: 20px;
  margin-top: 20px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


</style>


<div class="header">
  <h2>Details</h2>
</div>


<div class="row">
  <div class="leftcolumn">
    <div class="card">
      <h2>Orders</h2>
      
    <table border="1">
          <table class = "table">
   <thead>
      <tr>
         <th>Product Name</th>>
         <th>Order No</th>
         <th>Quantity</th>
         <th>Date Time</th>
         <th>Transaction Id</th>    
      </tr>
   </thead>
     
   <tbody>
    {% for product in product %}
      <tr class = "active">
         <td>{{product.product}} </td>
         <td>{{product.order}} </td>
         <td>{{product.quantity}} </td>
         <td>{{product.date_added}}</td>
         <td>{{product.order.transaction_id}}</td>
      </tr>
      {% endfor %}
   </tbody>

</table>
 <a href="{% url 'orders' %}"class="btn btn-outline-primary">back</a>
  </div>





{% endblock content %}
