{% extends 'store/main.html' %}
{% load static %}
{% block content %}

<style>
    body,
body {
    background-color:#F3E5AB;
}


.header {
  padding: 30px;
  font-size: 40px;
  text-align: center;
  background: white;
}


.leftcolumn {
  float: left;
  width: 50%;
}


.rightcolumn {
  float: left;
  width: 50%;
  padding-left: 20px;
}


.card1{
  background-color: white;
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}


.row > .column {
  padding: 0 8px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Create four equal columns that floats next to eachother */
.column {
  float: left;
  width: 25%;
}

/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: black;
}

/* Modal Content */
.modal-content {
  position: relative;
  background-color: #fefefe;
  margin: auto;
  padding: 0;
  width: 90%;
  max-width: 600px;
}
.close {
  color: white;
  position: absolute;
  top: 10px;
  right: 25px;
  font-size: 35px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #999;
  text-decoration: none;
  cursor: pointer;
}


.mySlides {
  display: none;
  width: 600px;

}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

img.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}

img.hover-shadow {
  transition: 0.3s;
  width: 600px;

}

.hover-shadow:hover {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}



</style>




{% for i in form %}

<div class="row">
  <div class="column">
    <img src="{{i.image2URL}}"  width="200px"
         height="200px" onclick="openModal();currentSlide(1)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{{i.image1URL}}"  width="200px"
         height="200px" onclick="openModal();currentSlide(2)" class="hover-shadow">
  </div>
  <div class="column">
    <img src="{{i.imageURL}}"   width="200px"
         height="200px"onclick="openModal();currentSlide(3)" class="hover-shadow">
  </div>
</div>

<!-- The Modal/Lightbox -->
<div id="myModal" class="modal">
  <span class="close cursor" onclick="closeModal()">&times;</span>

    <div class="mySlides">
      <div class="numbertext">1 / 3</div>
      <img src="{{i.imageURL}}" >
    </div>

    <div class="mySlides">
      <div class="numbertext">2 / 3</div>
      <img src="{{i.image1URL}}" style="width:auto%">
    </div>

    <div class="mySlides">
      <div class="numbertext">3 / 3</div>
      <img src="{{i.image2URL}}"style="width:auto">
    </div>
      </div>
</div>





<div class="rightcolumn">
    <div class="card1">

  <table border="1">
          <table class = "table"> 
           <tr>
    <th>Car Name</th>
    <th>{{i.name}}</th>
          </tr>
     <tr>
    <th>Company Name</th>
    <th>{{i.company_name}}</th>
          </tr>
     <tr>
    <th>Manufacutring Year</th>
    <th>{{i.Year}}</th>
          </tr>
     <tr>
    <th>Car Number</th>
    <th>{{i.car_number}}</th>
          </tr>
     <tr>
    <th>In Gurantee</th>
    <th>{{i.g}}</th>
          </tr>
     <tr>
    <th>Km Used</th>
    <th>{{i.Km}}</th>
          </tr>
     <tr>
    <th>Expecting Price</th>
    <th>{{i.totalprice}}</th>
          </tr>
     <tr>
    <th>No of pervious Owner</th>
    <th>{{i.Owners}}</th>
          </tr>


</table>     </table>
      
			
                 

			</div>

		</div>
		<div class="rightcolumn">
    <div class="card1">
				<h6><strong>Other Details   --{{i.des}}</strong></h6>		

         <button  style="float: : center " class="btn btn-primary" onclick="return confirm('Number of Seller -{{i.number}}')">Seller's Number</button>
</div></div></div>
		{% endfor %}








<script>
// Open the Modal
function openModal() {
  document.getElementById("myModal").style.display = "block";
}

// Close the Modal
function closeModal() {
  document.getElementById("myModal").style.display = "none";
}

var slideIndex = 1;
showSlides(slideIndex);

// Next/previous controls
function plusSlides(n) {
  showSlides(slideIndex += n);
}

// Thumbnail image controls
function currentSlide(n) {
  showSlides(slideIndex = n);
}

function showSlides(n) {
  var i;
  var slides = document.getElementsByClassName("mySlides");
  var dots = document.getElementsByClassName("demo");
  var captionText = document.getElementById("caption");
  if (n > slides.length) {slideIndex = 1}
  if (n < 1) {slideIndex = slides.length}
  for (i = 0; i < slides.length; i++) {
    slides[i].style.display = "none";
  }
  for (i = 0; i < dots.length; i++) {
    dots[i].className = dots[i].className.replace(" active", "");
  }
  slides[slideIndex-1].style.display = "block";
  dots[slideIndex-1].className += " active";
  captionText.innerHTML = dots[slideIndex-1].alt;
}
</script>
{% endblock content %}
